<div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#all-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">All</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#pending-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Pending</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#attending-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Attending</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#past-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Past</button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="all-tab" tabindex="0">
      <p>You have <strong><%= @bookings.count%></strong> upcoming events</p>
      <% if @bookings.empty? %>
        <div class="card card-body bg-body-secondary border-2 text-center rounded-3">No upcoming activities</div>
      <% else %>
      <%= render 'groups/group_confirmed_events', bookings: @bookings %>
      <% end %>
    </div>

    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="pending-tab" tabindex="0">
      <p>You have <strong><%= @bookings.count%></strong> upcoming events</p>
      <% if @bookings.empty? %>
        <div class="card card-body bg-body-secondary border-2 text-center rounded-3">No upcoming activities</div>
      <% else %>
       <%= render 'groups/group_confirmed_events', bookings: @bookings_pending %>
      <% end %>
    </div>

    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="attenting-tab" tabindex="0">
      <p>You have <strong><%= @bookings.count%></strong> upcoming events</p>
      <% if @bookings.empty? %>
        <div class="card card-body bg-body-secondary border-2 text-center rounded-3">No upcoming activities</div>
      <% else %>
        <%= render 'groups/group_confirmed_events', bookings: @bookings_attending %>
      <% end %>
    </div>

    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="past-tab" tabindex="0">
      <p>You had <strong><%= @bookings.count%></strong> events</p>
      <% if @bookings.empty? %>
        <div class="card card-body bg-body-secondary border-2 text-center rounded-3">No upcoming activities</div>
      <% else %>
        <%= render 'groups/group_confirmed_events', bookings: @bookings_past %>
      <% end %>
    </div>

  </div>

</div>
