<div class="container p-5">
  <div class="d-flex align-items-center justify-content-between pb-4 border-bottom border-3 mb-4">
    <div class="d-flex align-items-center">
      <%= image_tag('user.png', class: "avatar") %>
      <h1 class="m-0 ms-3"><%= current_user.first_name %> <%= current_user.last_name %></h1>
    </div>
    <%= link_to "", edit_user_registration_path, class: "fa-regular fa-pen-to-square btn btn-sm" %>
  </div>
  <div class="d-flex mb-4">
    <h2>My bookings</h2>
  </div>
  <div class="d-flex flex-column mb-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2>My groups</h2>
      <%= link_to "See all", groups_path, class: "btn btn-sm btn-outline-secondary"  %>
    </div>
    <%= render 'shared/group_card', groups: @groups %>
  </div>
  <div class="d-flex mb-4">
    <h2>My saves</h2>
  </div>
</div>
