<div class="d-flex flex-column gap-4">
  <% bookings.each do |booking| %>
    <%= link_to event_path(booking) do %>
      <div class="event-card">
        <div class="d-flex justify-content-center">
          <% if booking.activity.image_url %>
            <img src=<%= booking.activity.image_url %> class="card-img"/>
          <% end %>
        </div>

        <div class="booking-content">
          <h5 class="mb-4"><%= booking.activity.title %></h5>
          <div class="booking-subtext">
            <div class="row m-0 d-flex justify-content-left gap-3">
              <div class="col-6 p-0 m-0">
                <p><i class="fa-solid fa-location-dot me-2"></i><%= booking.activity.area %></p>
                <p><i class="fa-regular fa-calendar-days me-2"></i><%= booking.date.strftime("%a, %e %b")  %></p>
              </div>
              <div class="col-5 p-0 m-0">
                <p><i class="fa-regular fa-clock me-2"></i><%= booking.time.strftime("%H:%M") %></p>
                <p><i class="fa-solid fa-check me-2"></i>Booked</p>
              </div>
            </div>
          </div>

          <div class="">
            <h6 class="p-0 m-0 mb-3 text-secondary">Attending:</h6>
            <% booking.attendances.where(attendance: true).each do |user| %>
              <div>
                <% if user.user.avatar.attached? %>
                  <%= cl_image_tag user.user.avatar.key, :transformation=>[
                    {:gravity=>"face", :height=>40, :width=>40, :crop=>"thumb"},
                    {:radius=>"max"},
                    {:fetch_format=>:auto}
                  ], class: "me-2" %>
                <% else %>
                  <%= image_tag('user.png', class: "avatar me-2") %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
