<div class="container">

  <div class="row">
    <div class="col">

      <h1> <%= @group.name %> </h1>
      <p> Created on: <%= @group.created_at %> by: <%= @group.user.email %></p>

      <h5> <%= @members.count %> members <h5>


      <h5> <% @members.each do |member| %>
          <%= member.email %> TO REPLACE WITH AVATARS
          <% end %>
      </h5>
    </div>
    <div class="col">
        <%= link_to 'Leave Group', group_membership_path(@group, membership: {group: @group, user_id: current_user}),data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-danger"%>
        <% if current_user.memberships.find_by(group: @group, admin: true) %>
          <%= link_to "Add to Group", new_group_membership_path(@group), class: "btn btn-primary" %>
          <%= link_to "Delete Group", group_path(@group), data: { "turbo-method": :delete }, class: "btn btn-danger text-white"%>
        <% end %>

    </div>
  </div>

    <div class="w-100 input-group my-5" data-controller="clipboard">
      <input class="form-control" data-clipboard-target="input" type="text" value="<%= @invite_link %>" readonly>
      <div class="input-group-append">
        <button id="copy-button" class="btn btn-outline-primary" data-action="click->clipboard#copy">Copy invite link</button>
      </div>
    </div>


  <h2> Group members </h2>

  <% @members.each do |member| %>
    <li> <%= member.email %>
    <% if current_user.memberships.find_by(group: @group, admin: true) %>
      <%= link_to 'X', group_membership_path(@group, membership: {group: @group, user_id: member}),data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-danger"%>
    <% end %>
    </li>

  <% end%>


<div>
