<div class="container">

<h1> Name: <%= @group.name %>
<h2> Description: <%= @group.description %> </h2>
<h3> Created by: <%= @group.user.email %> </h3>
<h3> Created on: <%= @group.created_at %> </h3>

<h2> Group members </h2>
<% @members.each do |member| %>
  <li> <%= member.user.email %> </li>
<% end%>


<h2>Add Member to Group </h2>
<%= link_to "Add member to group", new_group_membership_path(@group) %>

<h2>Delete Group </h2>
<%= link_to "Delete Group", group_path, data: { "turbo-method": :delete } %>
