<div class="group-profile-header">
  <% if @group.banner.attached? %>
        <%= cl_image_tag @group.banner.key, class: "group-image-cloudinary", crop: "fill" %>
  <% else %>
        <img class="img-fluid group-image-header image-responsive" src="https://cdn.pixabay.com/photo/2016/02/03/08/32/banner-1176676_640.jpg">
  <% end %>

  <div class="centered text-header"><h1><%= @group.name.capitalize %></h1></div>
</div>

<div class="container p-5">

  <div class="d-flex flex-column pb-4 border-bottom border-4 mb-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="m-0">Members</h2>
      <div class="d-flex gap-2">
        <% if current_user.memberships.find_by(group: @group, admin: true) %>
          <%= link_to "Invite", new_group_membership_path(@group), class: "btn btn-sm btn-outline-primary" %>
          <%= link_to "Manage", edit_group_path(@group), class: "btn btn-sm btn-outline-secondary" %>
        <% end %>
      </div>
    </div>


    <div class="d-flex align-items-center gap-2">
      <%= @members.count %> members:
      <% @members.each do |member| %>
        <% if member.avatar.attached? %>
          <%= cl_image_tag member.avatar.key, :transformation=>[
            {:gravity=>"face", :height=>40, :width=>40, :crop=>"thumb"},
            {:radius=>"max"},
            {:fetch_format=>:auto}
          ] %>
        <% else %>
          <%= image_tag('user.png', class: "avatar") %>
        <% end %>
      <% end %>


    </div>
  </div>


  <div class="d-flex flex-column pb-4 border-bottom border-4 mb-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="m-0">Invites</h2>
      <%= link_to "See all", events_path({group_id: @group.id}), class: "btn btn-sm btn-outline-secondary"  %>
    </div>

    <% if @events.empty? %>
      <div class="card card-body bg-body-secondary border-2 text-center rounded-3">
        Propose an activity to your group!
      </div>
    <% else %>
      <%= render 'shared/events', events: @events.last(3) %>
    <% end %>
  </div>


  <div class="d-flex flex-column pb-4 border-bottom border-4 mb-5">
    <h2 class="mb-4">Bookings</h2>
    <% if @bookings.empty? %>
      <div class="card card-body bg-body-secondary border-2 text-center rounded-3">No upcoming bookings</div>
    <% else %>
      <%= render 'group_confirmed_events', bookings: @bookings %>
    <% end %>
  </div>


   <div class="d-flex flex-column pb-4 border-bottom border-4 mb-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="m-0">Chat</h2>
      <%= link_to "Chat", chatroom_path(@chatroom), class: "btn btn-sm btn-outline-secondary"  %>
    </div>
  </div>

</div>
