<div id="footer" class="pt-5">
  <div class="">
    <div class="row m-0">
      <nav class="col-12 col-md-4">
        <b><%= "Your account" %></b>
        <div class="my-3">
          <%= link_to "Sign up", activities_path, class: "link-footer" %>
        </div>
        <div class="my-3">
          <%= link_to "Log in", activities_path, class: "link-footer" %>
        </div>
        <div class="my-3">
          <%= link_to "Help", activities_path, class: "link-footer" %>
        </div>
        <div class="my-3">
          <%= link_to "Become an affiliate", activities_path, class: "link-footer" %>
        </div>
      </nav>

      <nav class="col-12 col-md-4">
        <b><%= "Discover" %></b>
        <div class="my-3">
          <%= link_to "Activities", activities_path, class: "link-footer" %>
        </div>
        <div class="my-3">
          <%= link_to "Cities", activities_path, class: "link-footer" %>
        </div>
        <div class="my-3">
          <%= link_to "Make friends", activities_path, class: "link-footer" %>
        </div>
      </nav>

      <nav class="col-12 col-md-4">
        <b><%= "What To Do" %></b>
        <div class="my-3">
          <%= link_to "About", activities_path, class: "link-footer" %>
        </div>
        <div class="my-3">
          <%= link_to "Blog", activities_path, class: "link-footer" %>
        </div>
        <div class="my-3">
          <%= link_to "Careers", activities_path, class: "link-footer" %>
        </div>
        <div class="my-3">
          <%= link_to "Apps", activities_path, class: "link-footer" %>
        </div>
      </nav>
    </div>

    <div class="row" style="justify-content: center">
      <div class="col-12 col-md-6 mt-3">
        <h6>Follow us</h6>
        <div class="social-icons pt-1">
            <a href="#"><i class="fab fa-facebook-f fa-2x mx-2"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x mx-2"></i></a>
            <a href="#"><i class="fab fa-youtube fa-2x mx-2"></i></a>
            <a href="#"><i class="fab fa-instagram fa-2x mx-2"></i></a>
            <a href="#"><i class="fab fa-tiktok fa-2x mx-2"></i></a>
          </div>
        </div>

    </div>
    <div class="mt-4 py-3">
        <a href="#"class="mx-3">Terms of Service</a>
        <a href="#"class="mx-3">Privacy Policy</a>
        <a href="#"class="mx-3">Cookie Settings</a>
        <a href="#"class="mx-3">Cookie Policy</a>
        <a href="#"class="mx-3">Help</a>
    </div>
  </div>
</div>
