<div class="controllers" data-controller="current-location-on-click" data-controller="address-autocomplete">

  <div class="d-flex align-items-center">
    <div class="input-group align-items-center py-2" style="max-width: 70%;">
      <%= text_field_tag(:location, @location_cookie, disabled: false, id: "locationInput", class: "me-2 text-white bg-secondary", "aria-label": "Search", data: { address_autocomplete_target: "address",current_location_on_click_target: "address", cookie: @location_cookie, bs_toggle: "modal", bs_target: "#locationModal"}) %>
    </div>
  </div>

    <!-- Modal -->
    <div class="modal fade" id="locationModal" tabindex="-1" aria-labelledby="locationModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <h1 class="modal-title fs-5" id="locationModalLabel">Change your location</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">

            <div class="input-group">
            <%= text_field_tag(:location, @location_cookie, disabled: true, id: "locationInput", class: "form-control me-2", "aria-label": "Search", data: { address_autocomplete_target: "address",current_location_on_click_target: "address", cookie: @location_cookie }) %>
            </div>

            <hr>


            <div>
              <h2 class="fs-5">Get current location</h2>
              <div class="d-flex">
              <span data-action="click->current-location-on-click#request">
                <i class="fa-solid fa-location-crosshairs" aria-hidden="true"></i>
                <button class="btn btn-primary ml-2">click here to get your current</button>
              </span>
              </div>
            </div>

            <hr>

              <h2 class="fs-5">Specify location</h2>
              <div class="location-search mx-auto">
                  <%= form_tag(update_location_path, method: "post", class: "d-flex flex-row-reverse", role: "search", data: { controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}) do %>
                    <div class="input-group">
                      <%= text_field_tag(:location, @location_cookie, id: "locationInput", class: "d-none form-control me-2", "aria-label": "Search", data: { address_autocomplete_target: "address",current_location_on_click_target: "address", cookie: @location_cookie }) %>
                    </div>
                      <%= button_tag("Confirm", class: "btn btn-primary ml-2", type: "submit") %>
                  <% end %>
              </div>
          </div>
        </div>
      </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <div class="input-group">
                <%= text_field_tag(:location, location_cookie, disabled: true, id: "locationInput", class: "d-none form-control me-2", "aria-label": "Search", data: { address_autocomplete_target: "search",current_location_on_click_target: "address", cookie: location_cookie }) %>
              </div>
          </div>

</div>
</div>
