<div data-controller="current-location-on-click" data-controller="address-autocomplete">

 <div class="d-flex align-items-center justify-content-center">
    <div class="input-group align-items-stretch align-items-center py-2" style="max-width: 80%;">
        <%= text_field_tag(:location, @location_cookie, disabled: false, id: "locationInput", class: "form-control text-white bg-dark", "aria-label": "Search", data: { address_autocomplete_target: "address", current_location_on_click_target: "address", cookie: @location_cookie, bs_toggle: "modal", bs_target: "#locationModal"}) %>
          <span class="input-group-text bg-dark text-white" bs_toggle="modal", bs_target="#locationModal">
          <i class="fa-solid fa-location-dot"></i>
        </span>
    </div>
</div>

    <!-- Modal -->
    <div class="modal fade" id="locationModal" tabindex="-1" aria-labelledby="locationModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <h1 class="modal-title fs-5" id="locationModalLabel">Change your location</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">


            <div>
              <span>
              <h2 class="fs-5">Get current location <i class="fa-solid fa-location-crosshairs" aria-hidden="true"></i></h2>
             </span>

              <div class="d-flex">
              <span data-action="click->current-location-on-click#request">
                <button class="btn button-primary ml-2">Get Current Location</button>
              </span>
              </div>
            </div>

            <hr>

              <h2 class="fs-5">Specify location</h2>
              <div class="location-search mx-auto">
                  <%= form_tag(update_location_path, method: "post", class: "d-flex flex-row-reverse", role: "search", data: { controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}) do %>
                    <div class="input-group">
                      <%= text_field_tag(:location, @location_cookie, id: "locationInput", class: "d-none form-control me-2", "aria-label": "Search", data: { address_autocomplete_target: "address",current_location_on_click_target: "address", cookie: @location_cookie }) %>
                    </div>
                      <%= button_tag("Confirm", class: "btn button-primary ml-2", type: "submit") %>
                  <% end %>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn button-secondary" data-bs-dismiss="modal">Close</button>
              <div class="input-group">
                <%= text_field_tag(:location, location_cookie, disabled: true, id: "locationInput", class: "d-none form-control me-2", "aria-label": "Search", data: { address_autocomplete_target: "search",current_location_on_click_target: "address", cookie: location_cookie }) %>
              </div>
                      </div>

          </div>
      </div>
  </div>
</div>
