<div id="message-<%= message.id %>" class="message">
  <small class="d-flex flex-row gap-2 mb-1">
    <div class="name"><%= message.user.first_name %></div>
    <div class="time"><%= message.created_at.strftime(" %l:%M%p") %></div>
  </small>
  <div class="body">
    <% if message.activity%>
      <% activity = Activity.where(id: message.content)[0] %>
      <% if activity %>
        <p class="m-0 p-0">Hey, we should try this out</p>
        <%= link_to activity.title, activity_path(activity), class: 'btn btn-link p-0 m-0 text-white' %>
      <% else %>
        <p class="m-0 p-0"><%= message.content %></p>
      <% end %>
    <% else %>
      <p class="m-0 p-0"><%= message.content %></p>
    <% end %>
  </div>
</div>
