<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <h3 class="m-0 ms-3">What To Do</h3>

    <div class="my-2">
      <%= render 'shared/geocode_modal', location_cookie: @location_cookie, cookie: @location_cookie %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Activities", activities_path, class: "nav-link white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Groups", groups_path, class: "nav-link white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Profile", profile_path, class: "nav-link white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link white"  %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Signup", new_user_registration_path, class: "nav-link white" %>
          </li>
        <% end %>
      </ul>



    </div>
  </div>
</nav>
