<div class="header pb-2 border-bottom border-2">

  <div class="d-flex justify-content-center mb-2">
    <% if activity.image_url %>
      <img src=<%= activity.image_url %> class="show-img"/>
    <% end %>
  </div>

  <%# content %>
  <div class="p-4">

    <div class="row d-flex gap-2 m-0 mb-4">
      <% activity.tags.split.each do |tag| %>
        <div class="tag"><%= tag.gsub(",", "").capitalize %></div>
      <% end %>
    </div>

    <h1 class="mb-4"><%= activity.title %></h1>

    <div class="activity-details">
      <h4 class="mb-3">Details</h4>
      <div class="subtext">
        <div class="d-flex align-items-top">
          <i class="fa-solid fa-location-dot me-2"></i>
          <p class="m-0 p-0"><%= activity.address %></p>
        </div>

        <p><i class="fa-regular fa-calendar-days me-2" data-activity-target="activityDate"></i><%= activity.date.strftime("%a, %e %b")  %> - <%= activity.frequency.capitalize %></p>
        <div data-controller="distance" data-distance-lat-value="<%= activity.lat %>", data-distance-lng-value="<%= activity.lng %> ">
          <p><i class="fa-solid fa-person-running me-2"></i><span data-distance-target="km">...</span> - <span data-distance-target="time"></span></p>
        </div>
        <p><i class="fa-regular fa-clock me-2"></i><%= activity.start_time.strftime("%H:%M") %> - <%= activity.end_time.strftime("%H:%M") %></p>
        <p><i class="fa-solid fa-sterling-sign me-2"></i><%= activity.price %> pp</p>
        <p><i class="fa-regular fa-user me-2"></i>Good for <%= activity.people %></p>
      </div>
    </div>

    <div class="my-3 subtext">
      <p><i class="fa-solid fa-location-dot me-3"></i><%= activity.area %></p>
    </div>
  </div>

  <div data-controller="distance" data-distance-lat-value="<%= activity.lat %>", data-distance-lng-value="<%= activity.lng %> ">
    <div class="body">
      <div class="my-4 description">
        <p><%= activity.description %></p>
      </div>
      <div class="row m-0">
        <h4 class="p-0">What you need to know</h4>
        <div class="mt-3 p-0 border-start border-4">

        </div>
      </div>
    </div>
  </div>

<%= render 'shared/map' %>
