<div class="row d-flex justify-content-right m-0 gap-4">
  <p class="p-0 m-0 guidance"><strong><%= saves.count %></strong> saved activities</p>

  <% if saves.empty? %>
    <p>Looks like your activity list is empty for now.</p>
    <%= link_to "Start exploring activities now", activities_path, class: "btn btn-success btn-lg" %>

  <% else %>

    <% saves.each do |save| %>
      <div class="d-flex justify-content-between save-card">
        <%= link_to activity_path(save.activity), class: "text-decoration-none text-dark w-100" do %>
          <div class="d-flex flex-column gap-2">
            <h4 class="p-0 m-0"><%= save.activity.title %></h4>
            <div class="d-flex gap-2 align-items-center">
              <div class="d-flex gap-2 m-0 align-items-center">
                <p class="m-0 p-0 details"><i class="fa-solid fa-location-dot me-2 teal"></i><%= save.activity.area %></p>
              </div>
            </div>
          </div>
        <% end %>
        <div class="d-flex align-items-start delete">
          <%= button_to safe_path(save), data: { confirm: "Are you sure?" }, method: :delete, class: "delete teal" do %>
            <i class="fa-solid fa-x"></i>
          <% end %>
        </div>
      </div>
    <% end %>

  <% end %>

</div>
