<div class="row d-flex justify-content-right m-0 gap-4">
  <p class="p-0 m-0">You have <%= saves.count %> saved activities! </p>

  <% if saves.empty? %>
    <p>Looks like your activity list is empty for now.</p>
    <%= link_to "Start exploring activities now", activities_path, class: "btn btn-success btn-lg" %>

  <% else %>

    <% saves.each do |save| %>
      <%= link_to activity_path(save.activity), class: "text-decoration-none text-dark save-card" do %>
        <h4 class="p-0 m-0"><%= save.activity.title %></h4>
          <p class="m-0"><i class="fa-solid fa-location-dot me-1"></i><%= save.activity.address %></p>
          <p class="m-0"><i class="fa-solid fa-person-running me-1"></i><%= save.activity.tags.split[1].gsub(",", "").capitalize %></p>
          <%= link_to "Remove Activity", safe_path(save), data: { "turbo-method": :delete }, class: "btn btn-outline-danger flex-fill"%>
      <% end %>
    <% end %>

  <% end %>

</div>
