<div class="container p-5">
  <div class="pb-2 border-bottom border-2 mb-4">
    <h1>Edit event</h1>
  </div>
  <div>
    <%= simple_form_for @event do |f| %>
    <%= f.input :date, as: :date, label: "Edit date" %>
    <%= f.input :time, as: :time, label: "Edit time" %>
    <%= f.button :submit, label: "Confirm changes", class:"btn btn-outline-secondary" %>
    <% end %>
    <div class="mt-3">
      <%= button_to "Delete event", event_path(@event), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>
