<div class="container p-5">
  <div class="pb-2 border-bottom border-2 mb-4">
    <h1>Create an event</h1>
  </div>
  <div>
    <%= simple_form_for @event do |f| %>
    <%= f.input :activity_id, :as => :hidden, :input_html => { :value => @activity.id } %>
    <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
    <%= f.input :group_id, label: "Who will you go with?", :collection => @groups, required: true %>
    <%= f.input :date, as: :date, label: "When will you go?" %>
    <%= f.input :time, as: :time, label: "What time will you go?" %>
    <%= f.button :submit, label: "Create event", class:"btn btn-outline-secondary" %>
    <% end %>
  </div>
</div>
