<div class="container page-padding">
  <div class="pb-2 divider-bottom">
    <h1 class="teal-underline">Create an event</h1>
  </div>
  <div>
    <%= simple_form_for @event do |f| %>
    <%= f.input :activity_id, :as => :hidden, :input_html => { :value => @activity.id } %>
    <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
    <%= f.input :group_id, label: "Who will you go with?", :collection => @groups, required: true %>
    <%= f.input :date, as: :date, label: "When will you go?" %>
    <%= f.input :time, as: :time, label: "What time will you go?" %>
    <%= f.button :submit, label: "Create event", class:"button-secondary-wide" %>
    <% end %>
  </div>
</div>
