<div data-controller="likes" data-likes-token-value="<%= form_authenticity_token %>" data-likes-proposal-value="<%= @proposal.id %>">
  <div class="container p-5">
    <%= render 'shared/activity', activity: @proposal.activity %>
  </div>
  <div class="pin p-5 sticky-bottom">
    <h4 class="mb-4">Interest for this activity</h4>

    <div class="d-flex gap-3 justify-content-center">
      <div class="d-flex gap-1 align-items-center"><i class="fa-solid fa-arrow-up text-success"></i><%= @interested.count %> interested</div>
      <div class="d-flex gap-1 align-items-center"><i class="fa-solid fa-arrow-down text-danger"></i><%= @disinterested.count %> not interested</div>
    </div>
    <div class="mt-4 d-flex gap-3 me-0">
      <% if @like != nil %>
        <% if @like.liked %>
          <div class="card card-body bg-body-secondary border-2 text-center rounded-3">You replied 'Interested'</div>
        <% else %>
          <div class="card card-body bg-body-secondary border-2 text-center rounded-3">You replied 'Not Interested'</div>
        <% end %>
      <% else %>
        <div class="d-flex gap-4 m-0 flex-fill">
          <%= link_to "Interested", proposal_likes_path(@proposal, liked: "true"), class: "btn btn-outline-success flex-fill", data: { action: "click->likes#vote", target: 'likes.Button' }  %>
          <%= link_to "Not Interested", proposal_likes_path(@proposal, liked: "false"), class: "btn btn-outline-danger flex-fill", data: { action: "click->likes#vote", target: 'likes.Button' }  %>
        </div>
      <% end %>
    </div>
  </div>
</div>
